
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Error, no cuenta con los permisos para ingresar en esta página.
    </h1>
</section>

